.content-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 1000px;

    span {
        font-size: 48px;
        font-weight: 600;
    }
}

.carousel-wrapper {
    display: flex;
    // justify-content: center;
    // align-items: baseline;
    position: relative;
    min-width: 875px;
    width: 75vw;
    height: 720px;
    margin: 25px auto auto 15px;
    overflow: auto hidden;
}

.image-container {
    max-width: 80%;

    img {
        height: auto;
        max-width: 100%;
    }
}

.dots-wrapper {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    margin: 25px;
}

.dot {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    background-color: black;
    margin: 6px 0;

    img {
        width: 48px;
        height: 48px;
    }
}

.description-wrapper {
    display: flex;
    margin: 100px 0;
}