.header {
    display: flex;
    position: sticky;
    float: right;
    width: auto;
}

.header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding: 16px;
    margin: 0 24px;
    width: auto;
}